html {
  font-family: sans-serif;
}
body
{
    border: 3px solid rgb(193, 0, 0);
    width: 200px;
    height: 200px;
    margin: 10%;
    background-color: red;
    color: white;
    padding: 30%;
    font-size: 45px;
    border-radius: 1em;
    background-image: radial-gradient(
      circle,
      rgb(112, 0, 0) 39%,
      rgb(51 56 57 / 100%) 96%
    );
    background-size: 100px 50px;
}