html {
  font-family: sans-serif;
}
body
{
    border: 3px solid rgb(193, 0, 0);
    width: 200px;
    height: 200px;
    margin: 10%;
    background-color: red;
    color: white;
    text-align: center;
    font-size: 45px;
    border-radius: 1em;
}