/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

h1{
    font-size: 4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top: solid red;
    border-bottom: solid red;
    text-align: center;
}
h2{
    font-size: 2em;
    font-family:'Courier New', Courier, monospace;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 50px;
}
ul{
    font-family: sans-serif;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: 1px solid #ff7979;
    margin: 20px;
}